<div class="" *ngIf="datasource.loading | async; else table">
  <content-loader [height]="200" [width]="350" [speed]="2"
                  [primaryColor]="'#263242'"
                  [secondaryColor]="'#1E2633'"
  >
    <svg:rect x="15" y="10" rx="0" ry="0" width="300" height="7" />
    <svg:rect x="15" y="25" rx="0" ry="0" width="300" height="7" />
    <svg:rect x="15" y="40" rx="0" ry="0" width="300" height="7" />
    <svg:rect x="15" y="55" rx="0" ry="0" width="300" height="7" />
    <svg:rect x="15" y="70" rx="0" ry="0" width="300" height="7" />

  </content-loader>
</div>

<ng-template #table>
  <div class="container-fluid px-5 pt-0 setups">
    <div class="buttons">
      <button (click)="createNewTask()"  class="addbutton ml-auto"
              type="button"
              [routerLink]="" data-toggle="modal">
        New Task
      </button>
    </div>
  </div>

  <ng-content ></ng-content>

  <ng-container>
    <div *ngIf="datasource.length === 0">
      <app-no-search-result [messageContent]="emptyContentMessageContent"
                            [messageHeader]="emptyContentMessageHeader">

      </app-no-search-result>
    </div>
  </ng-container>
  <mat-paginator  [hidePageSize]="false" [length]="1000000"
       [pageSizeOptions]="[5, 10, 20, 50]" ></mat-paginator>
  <!--</div>-->
</ng-template>

